{{#partial "content"}}

    <div class="m-4">
        <p class="lead text-center">Welcome to wild life tracker  <i class="fas fa-satellite-dish"></i></p>
    </div>

    <div class="m-5 d-flex justify-content-center">

        <div class="m-5 d-flex justify-content-center">

            <a type="button" href="/endangered/new" class=" m-1 btn btn-outline-dark">Add sssEndangered Animal</a>
            <a type="button" href="/animal/new" class=" m-1 btn btn-outline-dark">Add Animal</a>

        </div>

    </div>


{{/partial}}

{{> layout.hbs}}